<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>data visualisation</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script src="/jquery/jquery.js"></script>
<script src="/chart/Chart.js"></script>

<style>
    body    { padding-top:50px; }
</style>
