<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
    
    <header>
        <% include ../partials/header %>
    </header>
    
    <main>
        <div class="jumbotron">
            <h1>Rapport DB</h1>
            <div class="form-group">
                <form action="datadb" method="POST">
                </form>
            </div>
        </ul>
    </div>
</main>
<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>
